{{define "index/index.html"}}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>短链接生成器</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    <!-- Import style -->

    <link
            rel="stylesheet"
            href="../../static/css/index.css"
    />
    <!-- Import Vue 3 -->
    <script src="../../static/js/vue.global.js"></script>
    <!-- Import component library -->
    <script src="../../static/js/element-plus.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-input v-model="message" placeholder="请输入要转换的网址"/>
                </el-col>
                <el-col :span="2">
                    <el-button type="primary" @click="click">生成短链接</el-button>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-input id="shortUrl" v-model="shortUrl" disabled/>
                </el-col>
                <el-col :span="2">
                    <el-button type="primary" @click="copy(this)">复制到剪切板</el-button>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<script>
    const {createApp} = Vue
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                message: '',
                shortUrl: '',
            }
        },
        methods: {
            click(event) {
                axios.post("/add", {
                    "originUrl": this.message
                }).then(resp => {
                    this.shortUrl = resp.data.data
                })
            },
            copy() {
                const range = document.createRange();
                range.selectNode(document.getElementById('shortUrl'));
                const selection = window.getSelection();
                //移除之前选中内容
                if (selection.rangeCount>0) selection.removeAllRanges();
                selection.addRange(range);
                document.execCommand('copy');
                alert("复制成功！");
                selection.removeAllRanges()
            }
        }
    }).use(ElementPlus).mount('#app')

</script>
</body>

</html>
{{end}}