{{define "index/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users/index</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
{{.title}}
<div id="app"> [[ message ]]</div>

<script type="text/javascript">
    const {createApp} = Vue

    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                message: 'Hello Vue!'
            }
        }
    }).mount('#app')
</script>
</body>
</html>
{{end}}